* {
    margin: 0;
}
html, body {
    min-height: 100vh;
}
.search-results{
	position: absolute;
	z-index: 999;
}

footer{
    height: 50px; 
    position: absolute;
    bottom: 0;
    width: 100%
}
.status{
	background:#f9f9f9;
	border:1px solid lightgray;
	width:534px;
	margin-bottom:50px;
}
label.gal-upload {
   cursor: pointer;
   width: 100px;
   height: 100px;
   border:2px solid gray;
   text-align: center;
   padding-top: 5px;
   font-size: 50px;
}
.action-btns button{
	width: auto;
	display: block;
	margin: 5px auto 0;
}
.show-comments{
	float: right;
	margin-top: 3px;
	margin-right: 5px;
}
.write-comment{
width: 100%;
}
.dropdown-toggle:after {
    display: none;
}
.friendlist{
	float: left;
	height: auto;
	width: 250px;
	padding: 0 25px;
	box-sizing: border-box;
	border: 1px solid lightgray;
	margin-top: 50px;
	margin-left: 25px;
	display: flex;
	justify-content: space-between;
}
.chatBox{
	position: fixed;
	width: 300px;
	height: 350px;
	background: #e5e5e5;
	border:1px solid gray;
	right: 0;
	bottom: 0;
}
.chatBox input {
	position: absolute;
	bottom: 0;
	width: 100%;
	border: 1px 0 0   solid gray;
}
.chatBox .chatheader{
	position: relative;
	width: 100%;
	height: 25px;
	border-bottom:1px solid gray; 
}
.chatheader i{
	cursor: pointer;
	position: absolute;
	right: 0;
	top: -10px;
	font-size: 25px;
}
.chatheader span{ 
	font-size: 20px;
}
.messages{
	height: 84%;
	width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.msg-row{
	/*background: gray;*/
	display:block;
	width: 100%;
	margin-top: 10px;
}
.notif-count{
	float: right;
	width: 15px;
	height: 15px;
	background: red;
	color: white;
	padding-top: -55px; 
	font-size: 14px;
	border-radius: 50%;
}
.msg-elm{	
	width: 100px;
	height: auto;
	background: #d0faf4;
	border: 1px solid gray;
	border-radius: 7px;	
	text-align: center;
}
}
#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
.name-surname{
	margin: 0 auto;
	width: 200px;
	text-align: center;
}
.namepic{
	margin-top: 20px;
	width: 300px;
	margin-left: -25px;
}
.setting-cogs{
	position: absolute;
	right: 115px;
	cursor: pointer;
	float: right;
	margin-top: 15px;
}
.profpic{
	position: relative;
	height: 250px;
	width: 200px;
	margin:0 auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.6s;
	border:1px solid black;
}
.friend-elm{
	margin-top: 10px;
	height: 75px;
}
.friend-elm p{
	margin-top: 7px;
}
.profpic-hover{
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(220,220,220,0.6);
	transition: 0.6s;
}
.profpic:hover .profpic-hover {
	transition: 0.6s;
	display: block;
}
.galery{
	position: absolute;
	width: 150px;
	top: 45%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active, .btn-neutral.active, .open>.dropdown-toggle.btn-neutral {
    color: #fff;
    background-color: #a3a3a3;
    border-color: #f1f1f1; /*set the color you want here*/
}
.file {
	width: 100px;
	height: 50px;
	float: left;
}
.color{
	float: right;
}
.posts{
	width: 500px;
}
.post-container{
	display: flex;
	justify-content: flex-end;
}
